html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-size: 16px; text-align: left; color: #000;}

div, ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}

a {text-decoration: none; color: inherit}
.clear:after {display: block; content: ""; clear: both;}

.tab-body {}