html, body {width: 100%; height: 100%; margin: 0; padding: 0; font-size: 16px; text-align: left; color: #999;}
div, ul, ol, li, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit}
.clear:after {display: block; clear: both; content: ""}
.boxing {border: 1px solid red}
#maincolor {color:#7b422e; background: #bb692d}

.all {left: 100px; }
.wrap {width: 960px; height: 100%;}
.header {width: 100%; height: 150px; background: #fff;}
.logo {float: left; width: 250px;}
.navs {float: right; position: relative;}
.nav {width: 150px; height: 100%; cursor: pointer; float: left;}
.nav > div {height: 150px; width: 150px; float: left; }
.nav > div:hover {background: #bb692d;}
ul.submenu {display: none;}
.nav .submenu>li {height: 60px; line-height: 60px; background: #ccc;}
.submenu > li:hover {background: #ccc; color: #fff; z-index: 9999; position: absolute; width: 150px; left: 0;}

.banner {width: 960px; height: 400px; position: relative; margin: 0 auto; overflow: hidden;}
.banner > ul {width: 5760px; height: 400px; position: absolute; left: 0; top: 0; }
.banner > ul > li {float: left;}

.welcome {position: absolute; text-align: center; width: 300px; height: 100px;line-height: 50px; background: rgba(255, 255, 255, 0.8); border-radius: 10px; left: 48%; top: 50%; transform: translate(-50%, -50%)}

.contents {height: 500px}
.notice {width: 480px;float: left;}
.notice h1 {text-align: center;border-bottom: 1px solid #666;}
.table {width: 430px; border-collapse: collapse; font-size: 0.9em; color: #666;}
.table tr>th {padding: 5px 0;}
.table tr>td {padding: 5px;}
.table tr:nth-child(2n){background: rgba(153, 153, 102, 0.5)}

.partner {margin-top: 10px; padding-left: 20%;}
.partner_info > img:nth-child(1) {width: 60%; cursor: pointer;}
.partner_info > img:nth-child(2) {width: 40%; cursor: pointer;}

#partner_up {width: 100%; height: 100%; position: fixed;left: 0; top: 0; z-index: 10; display: none; opacity: 0;}
#partner_up .body {padding: 20px; position: fixed;left: 50%; top: -20%; opacity: 0; transform: translate(-50%, -50%); background: #fff}
#partner_up.active {display: block; opacity: 1}
#partner_up.active .body{top: 25%; opacity: 1;}
#partner_up .body img{display: block;margin-bottom: 20px;}
#partner_up .body .button button {padding: 6px 12px; border:none; border-radius: 6px; background: #009688; color: white}

img {max-width: 100%;}
.icon {margin-top: 20px}
.icons {text-align: center}
.icon-wrap {float: left;}
.btn {width: 160px; margin: 0 20px; display:inline-block}
.btn>button:hover {background: #9c6}
.btn button {padding: 10px; font-size: 20px; border: none; border-radius: 10px; color: #fff;}

footer {height: 150px; max-width: ; margin-top: 730px; background: #bb692d; color: #fff; overflow: hidden;}

.footer-wrap {padding: 10px 20px}
.footer ul {width: 50%; float: left;}
.footer ul>li {float: left;margin-left: 20px; margin-top: 30px}