html, body {margin: 0; padding: 0; width: 100%; height: 100%; text-align: left; font-size: 16px; color: #333; position: relative;}

div, ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1200px; margin: 0 auto;}
.header {width: 100%; height: 100px; background: #eee; position: relative;}
.logo {float: left;}
.logo img {background-clip: content-box}
.navs {float: right; text-align: center; width: 900px; background: rgba(0,128,0,0.3)}
.nav {float: left; height: 100px;}
.nav div {float: left; width: 200px; line-height: 100px; color: #fff;}
.nav div:hover {color: green; background: #fff;}

.submenu {width: 100%; height: 200px; background: rgba(0,0,0,0.7); color: #fff; position: absolute; top: 100px; right: 0; display: none}
.submenu .sub-bg {float: right; margin-right: 100px;}
.submenu ul {float: right; width: 200px;  text-align: center;}
.submenu li {width: 200px; height: 50px; line-height: 50px;}
.submenu li:hover {background: rgba(0,128,0,0.6)}

.banner {width: 1200px; height: 300px; margin: 0 auto; position: relative;background: #000; z-index: -300; overflow: hidden;}
.slide {width: 4800px; position: absolute; height: 300px;}
.slide li {float: left;}
.slide li img {width: 1200px; height: 300px;}

.contents {width: 1200px; height: 300px;}
.notice {width: 33.33%; float: left;}
.notice h2 {text-align: center; padding: 10px 0;}
.table { color: #000; border-collapse: collapse; font-size: 0.9rem;}
.table tr>td {padding: 8px 0; margin-right: 10px;}
.table tr:nth-child(2n+1) {background: rgba(0,128,0,0.3)}
.table > tr {cursor: pointer; padding: 20px 0;}

.partner {width: 33.33%; height: 120px; float: left; margin-top: 30px; position: relative; overflow: hidden; padding: 20px 0 10px;}
.partner_info {width: 360px; position: absolute; text-align: center; float: left;}
.partner_info img {width: 100%; height: 140px;}
.slide-btn {width: 100%; text-align: center; font-size: 2rem; color: cornflowerblue; position: absolute;bottom: 10px; transform: translate(-10%, 0)}
.bts {cursor: pointer;}

.gallery {width: 33.33%; float: left; margin-top: 40px;overflow: hidden;}
.gallery-wrap {float: left; width: 400px; border: 2px solid green; cursor: pointer; background: rgba(100, 149, 20, 0.2); height: 150px; }
.gallery-wrap .imgs {text-align: center}
.gallery .imgs img {width: 380px;}

footer {width: 1200px; height: 100px;}
.footer {background: rgba(0, 128, 0, 0.3)}
.footer .logo {float: left; padding: 20px;}
.footer .logo img {width: 150px;}

.footer-wrap {width: 1000px; float: left; vertical-align: middle; padding: 5px 0;}
.legal {width: 33.33%; float: left; padding: 10px 0;}
.copyright {width: 33.33%; float: left;}

#modal-bg {width: 100%; height: 100%; background: rgba(0,0,0,0.7); top: 0; left: 0; z-index: 999; position: absolute; display: none}
#modal-wrap {width: 100%; height: 100%; top: 0; left: 0; z-index: 999; position: absolute; display: table-cell; display: none;}
#modal-body {background: salmon; width: 300px; height: 300px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute;vertical-align: middle; text-align: center; line-height: 30px;}
#modal-content {color: #fff}

.modal-table {margin: 0 auto; line-height: 25px; font-size: 0.9rem; float: left; padding: 20px;}
.modal-table tr {width: 100%; padding: 30px 0;}
.modal-table tr>th {width: 30px;}
.modal-table tr>td:nth-child(1) {width: 50px; padding-right: 10px;}
.modal-table tr>td:nth-child(2) {text-align: left}
.modal-btn {padding: 0.4rem; background: chartreuse; font-size: 1.5rem}
