html, body {margin: 0; padding: 0; width: 100%; height: 100%; text-align: left; font-size: 16px; color: #333; position: relative;}

div, ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1200px; margin: 0 auto;}
.header {width: 100%; height: 100px; background: #eee;position: relative; }
.logo {float: left;}
.navs {float: right; text-align: center; width: 900px; background: rgba(0, 128, 0, 0.3)}
.nav {float: left; height: 100px;}
.nav div {color: #fff; width: 150px; float: left;width: 200px;  line-height: 100px;}
.nav div:hover {background: #fff; color:green;}
.submenu { width: 100%; height: 200px; background: rgba(0,0,0,0.7); color: #fff; position: absolute;top: 100px;  right: 0; display: none;}
.submenu .sub-bg {float: right; margin-right: 100px}
.submenu ul {width: 200px; float: right; text-align: center;}
.submenu li {width: 200px; height: 50px; line-height: 50px; float: left;}
.submenu li:hover {background: rgba(0, 128, 0, 0.6);}

.banner {width: 1200px; height: 300px; margin: 0 auto; position: relative; overflow: hidden; background: #000; z-index: -300;}
.slide {width: 4800px; height: 300px; position: absolute; z-index: -100;}
.slide li {float: left; }
.slide li img {width: 1200px; height:300px;}

.contents {width: 1200px; height: 450px; }
.notice {width: 33.33%; float: left;}
.notice h2 {text-align: center; padding: 10px 0;}
.table {color: #000; font-size: 0.8rem; border-collapse: collapse}
.table tr>td {padding: 8px 0; margin-right: 10px;}
.table tr:nth-child(2n) {background: rgba(0, 128, 0, 0.3);}
.table > tr { cursor: pointer;  padding: 20px 0;}

.partner {width: 33.33%; float: left; margin-top: 20px; position: relative;}
.partner_info {width:360px; position: absolute; text-align: center}
.partner_info img {width: 100px; float: left;}
.slide-btn {width: 100%; text-align: center; font-size: 3rem; color: cornflowerblue; position: absolute; bottom:-150px;}
.bts {cursor: pointer;}

.gallery {width: 33.33%;float: left; margin-top: 40px;}
.gallery-wrap {float: left; width: 400px; border: 2px solid green; cursor: pointer; }
.gallery-wrap .imgs {text-align: center; margin-left: 30px;}
.gallery-wrap .imgs img {width: 100px; float: left; margin: 30px 5px; }

/* .yscroll {width: 1500px; height: 450px; overflow: scroll;} */
.tab-wrap {width: 900px; margin: 0 auto; padding-top: 20px;}
ul.tabs {width: 900px; height: 150px; margin: 0 auto; overflow: hidden; padding: 0; margin-bottom: -50px}
ul.tabs li {float: left; width: 33.33%;}
ul.tabs li a {position: relative; display: block; height: 30px; margin-top: 40px; font-size: 1.1rem; font-weight: lighter; text-align: center; color: #fff; background: coral; box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.7); border: 1px solid white; transition: padding .2s ease, margin .2s ease;}
.tabs li:first-child a {z-index: 3; border-top-left-radius: 12px;}
.tabs li:nth-child(2) {z-index: 2;}
.tabs li:last-child a {z-index: 1; border-top-right-radius:12px; box-shadow:  8px 12px 25px 4px rgba(0,0,0,0.7);}
ul.tabs li a:hover {margin: 35px 000; padding: 8px 0 3px 0;}
ul.tabs li a.active {margin: 30px 000; padding: 10px 0 10px 0;background: slateblue; color: #63deef; z-index: 4; outline: none;}

.group:before, .group:after {content: ""; display: table;}
.group:after {clear: both;}

#content {width: 900px; height: 100px; margin: 0 auto; background: slateblue;}
p {color: white; line-height: 26px; font-size: 1.1rem; margin: 0;}

#news1 {line-height: 100px; height: 100px; padding: 0 25px; overflow: hidden; margin: 20px;}
p#news1 {margin: 20px;}

footer {width: 1200px; height: 100px; overflow: hidden; position: relative; z-index: 9999;}
.footer {background: rgba(0, 128, 0, 0.3)}

.footer .logo { float: left; padding: 20px;}
.footer .logo img {width: 150px;}

.footer-wrap {width: 1000px; float: left; vertical-align: middle; padding: 5px 0;}

.legal {width: 33.33%; float: left; padding: 10px 0;}

.copyright {width: 33.33%; float: left;}

#modal-bg {width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); top: 0; left: 0;z-index: 99999; position: absolute; display: none}
#modal-wrap {width: 100%; height: 100%; ; top: 0; left: 0;z-index: 99999; position: absolute; display: table-cell;display: none;}
#modal-body {background: salmon; width: 400px; height: 400px; top: 50%;left: 50%; transform: translate(-50%, -50%); position: absolute;vertical-align: middle;text-align: center; line-height: 400px;}
#modal-content {color: #fff;}

.modal-table {margin: 0 auto; line-height: 25px; font-size: 0.9rem; float: left; padding: 50px}
.modal-table tr {width: 100%; padding: 30px 0;}
.modal-table tr>td:nth-child(1) {width: 50px;padding-right: 10px;}
.modal-table tr>td:nth-child(2) {text-align: left;}

.modal-btn {padding: 2rem; background: chartreuse; font-size: 3rem;}