.color1 {color: #999}
.color2 {color: #36f}
.color3 {color: #666}
.colorOne {background: rgb(153,153,153)}
.colorTwo {background: rgb(51,102,205)}

body, html {margin: 0; padding: 0; width: 100%; height: 100%; color: #666; font-size: 16px; text-align: left;}
div, ul, ol, h1, h2,h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit}

.clear:after {clear: both; content: ""; display: block;}

.logo-img {width: 250px; }
.logo img {width: 200px;height: 100px; line-height: 150px; margin: 25px 0; background: rgba(51,102,205,0.7)}

.wrap {width: 1000px; margin: 0 auto;}
.header {width: 100%; height: 150px; background: rgba(153,153,153,0.4)}
.logo {float: left;}
/* .navs {float: right; width: 600px; height: 150px; line-height: 150px; cursor: pointer; text-align: center;z-index: 9999;}
.nav {float: left; width: 150px;}
.nav > div {background: rgba(153,153,255,0.4); color:white}
.nav > div:hover {background: rgb(51,102,205, 0.4); color: black}
.submenu {width: 150px; background: rgba(51,102,205,0.3); color: #666;} */

.navs {float: right; width: 600px; height: 150px; line-height: 150px; cursor: pointer; text-align: center; z-index: 9999;}
.nav {float: left; width: 150px;}
.nav > div {background: rgba(255, 255, 255, 0.4)}
.nav > div:hover {background: rgb(51,102,205, 0.4); color: #fff}
.submenu {width: 150px; background: rgba(51,102,205, 0.3); color: #666; display: none;}
.submenu > li {line-height: 50px;}
.submenu > li:hover {background: rgb(51,102,205);color: #fff;}



.slide {z-index: -9999;}