html, body {margin: 0; padding: 0; font-size: 16px; color: #000; text-align: left;}
div, ul, ol, li, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}

