/* 
div#modal>.body>img>img*2^div.button>button#btn-close{닫기}^^^^div.wrap>.header.clear>.logo>a>img^^div.navs>.nav.clear>div>a{MENU$$}^^div.nav.clear*2>div>a{MENU$$}+ul.submenu.clear>li*4>a{submenu$}^^^^^^div.banner>ul>li*5>img
*/

@charset "utf-8";
html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-family: "맑은 고딕"; font-size: 16px; color: #000; }
div, ul, ol, li, h1, h2, h3,h4 {margin: 0; padding: 0; list-style: none;}
button {cursor: pointer;}
#modal {width: 100%; height: 100%; position: fixed;left: 0; top: 0; background: rgba(0,0,0,0.5); z-index: 9999;display: none; opacity: 0;}
#modal .body {position: fixed;left: 50%; top: -20%; opacity: 0; transform: translate(-50%, -50%); background: white; padding: 20px}
#modal.active {display: block; opacity: 1;}
#modal.active .body {top: 25%; opacity: 1;}
#modal .body img {display: block; margin-bottom: 20px;}
#modal .body .button {margin-top: 20px; text-align: center}
#modal .body .button button {padding: 6px 12px; border-radius: 6px; background: #009688; color: white;}

a {text-decoration: none; color: inherit}
.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1000px; height: 100%; margin: 0 auto}
.header {width: 1200px; height: 100px; background: #ccc;}
.logo {float: left; width: 250px; overflow: hidden;}
.logo img {width: 100%;}

.navs {float: right; width: 600px}
.nav {float: left; width: 200px; cursor: pointer;}
.nav > div {height: 100%; line-height: 100px;  width: 100%; padding: 0, 0, 1.5rem 0; text-align: center;}
ul.submenu {float: left; width: 200px; height: 360px; background: #ccc; position: absolute; z-index: 9999; display:none}
ul.submenu > li {width: 200px; height: 40px; line-height: 40px;padding: 1.5rem 0; text-align: center; }
ul.submenu > li:hover {background: #eee; }

.banner {width: 1200px; height: 100%; position: relative; }
.banner ul {width: 1000px; height: 350px; margin: 0 auto; overflow: hidden; }
.banner > ul > li {float: left;}
.welcome {width: 300px; height: 100px; position: absolute; top: 175px; left: 50%;transform: translate(-50%, -50%);
background: rgba(0,0,0,0.2); border-radius: 30px; text-align: center;line-height: 50px;
}
/* div.welcome>h1>span{환영합니다}^h3>span{한국대학교 동문 여러분} */


/* 
div.contents.wrap>.notice>h2{공지사항}+table.table>tr*6>td>a^td^^^div.partner>h2{web partner site}+div.partner_info>img^^div.modal>div.content>img+button{Close}^^div.service>table>tr>td*3>div.icon_content>div.icons>div>img^h3{인터넷}+div.icon_body>p{인터넷}
*/

/* 
div.contents.wrap>.notice>h1{공지사항}+table.table>tr>th*2^tr*6>td>a^td
*/



/* 
footer>.wrap>ul>li*2>a^^p{사업자번호}
*/