html, body {margin: 0; padding: 0; color: #333; font-size: 16px; font-family: '맑은 고딕'; text-align: left; width: 100%; height: 100%;background-color: rgba(0,0,0,0.2); }

ul, ol, li, h1, h2, h3, h4 {margin: 0;padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1200px; margin: 0 auto;}
.header {width: 1200px; height: 100px; color: #999; background: rgba(111,111,111,0.2)}
.logo {float: left;}
.logo img {width: 120px;}
.navs {float: right;position: relative; text-align: center; z-index: 10;}
.nav {float: left; width: 200px; height: 100px;line-height: 80px;}
.nav > div {color: yellow; font-weight: bolder; letter-spacing: 2px;}
.nav > div:hover {color: #fff; font-weight: lighter; background: rgba(162,245,50,0.4);}

ul.submenu {width: 200px; position: absolute; line-height: 50px; display: none; background: rgba(155,155,155, 0.4)}
ul.submenu > li {color: #000; font-weight: lighter;  }
.submenu > li:hover {color: yellow; font-weight: bolder; letter-spacing: 2px; background:  rgba(255,255,255,0.5);}

.section {width: 100%; height: 400px;}

.banner {width: 1000px; height: 400px; position: relative; margin: 0 auto; overflow: hidden;}
.slide {width: 7000px; height: 400px; position: absolute; top: 0;}
.slide li {float: left;}

.welcome {position: absolute; width: 400px; height: 100px; top: 50%; left: 50%; transform: translate(-40%, -50%); background: rgba(0,0,0,0.4); color: #fff; border-radius: 25px; line-height: 50px; text-align: center }

.contents {width: 1200px; height: 500px; margin: 0 auto; position: relative;
}
.tab-wrap {width: 50%; height: 500px; position: relative;border-bottom: 3px solid #ddd;}
.tab-buttons {width: 100%; height: 40px;}
.tab-buttons span {font: 400 0.9rem 'open sans', sans-serif; color: #000; background: rgba(162,245,50,0.4); cursor: pointer; display: block; width: 50%; float: left; text-align: center; height: 40px; line-height: 40px; }

.tab-content {width: 100%; height: 450px;  background: rgba(155,155,155, 0.9); display: inline-block; color: #ddd;}

#lamp {width: 50%; height: 3px; background: red; display: block; position: absolute; top: 40px; transition: all .3s ease-in;}
#lamp.content2 {left: 50%; transition: all .3s ease-in;}
#lamp.content1 {left: 0; transition: all .3s ease-in;}

.service {width: 50%; height: 500px;border-bottom: 3px solid coral; margin: 0 auto; position: absolute; right: 0; top: 0; background: rgba(184, 250, 3, 0.2);}
.service-table {width: 100%;height: 460px; margin: 0 auto; text-align: center; }
.sh-center {width: 600px;height: 40px;line-height: 40px; text-align: center; background: rgba(255,155,155, 0.9); display: block; color:red; font-weight: bolder; letter-spacing: 2px;}

.notice {width: 100%; height: 400px;}
.notice h2 {text-align: center; padding: 20px 0;}
.tab-table {width: 90%; margin: 0 auto;}
.tab-table tr>td {padding: 5px;}
.tab-table tr:hover span {font-weight: bolder; color: red; transition: transform .4s cubic-bezier(.85, .135, .15, .5);}
.tab-table tr:hover span a {text-shadow: .1875rem 0 #fff, .125rem 0 #fff, .0625rem 0 #fff, -.0625rem 0 #fff, -.125rem 0 #fff, -.1875rem 0 #fff}
.tab-table tr:nth-child(2n) {background: chocolate}

.partner {width: 100%; height: 400px;}
.partner h2 {text-align: center; padding: 20px 0;}
.partner_info { text-align: center; margin: 0 auto;}
.partner_info img {width: 50%; height: 40px;}
.partner pre {line-height: 45px;}

.service-table {width: 600px; height: 100%; margin: 0 auto;}
.service-table tr>td {width: 500px; }
.service-table .icon-content {width: 100%; position: relative;}
.servcie-table .icon-content .icons {background: rgba(255,255,255,0.3)}

.content1 {position: relative;}
#galleryFolder {padding: 0; margin: 0; box-sizing: border-box; position: relative;width: 500px;height: 400px; z-index: 999;}
#gallery {width: 100%; height: 400px;z-index: 999;}
#gallery img, #galleryFolder > service-table {position: absolute; width: 100%; left: 50px; top:50px;}

#gallery-button {position: absolute; top: 50%; left: 0; transform: translate(0, -10%); width:
600px; height: 50px;}
.btn-prev {position: absolute; left: -120px;}
.btn-next {position: absolute;right: 0;}

footer {width: 100%; height: 100px;}
.footer {top: 0; padding: 2rem; border: 1px solid black; width: 1200px; height: 100px; float: left; margin: 25px 0; position: relative;}
.footer p:nth-child(1) {padding: 1rem 0 0 0; line-height: 30px; width: 35%; float: left;}
.footer P:nth-child(1):hover {color: white}
.footer P:nth-child(2) {text-align: center; float: left; line-height: 100px;}

#modal-bg {width: 100%; height: 100%; background: rgba(0,0,0,0.4); display: none; position: absolute;top: 0; left: 0; z-index: 999;}
#modal-wrap {width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); display: none; position: fixed; top: 0; left: 0; z-index: 999;}
#modal-body {width: 400px; height: 400px; margin: 0 auto; }
.modal-content {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(255,155,155, 0.9); color: white; width: 400px; height: 400px;}

.modal-button-wrap {text-align: center; line-height: 60px; margin: 0 auot; }
.modal-button {position: absolute;right: -20px; top: 20px; transform: translate(-50%, -50%); background: #fff; color: #000; border-radius: 50%; cursor:pointer; width: 60px; height: 60px; font-size: 4rem; }

form {margin: 0 auto; width: 350px; height: 300px; padding: 1em; border:1px solid #ccc; border-radius: 1em;}
form div + div {margin-top: 1em;}
label {display: inline-block; width: 90px; text-align: left;}
input, textarea {font: 1em sans-serif; width: 300px; box-sizing: border-box;}

.modal-submit {padding-left: 90px;}
button {margin-left: 5em; padding: 0.2rem; font-size: 1.5rem;}


