/* 

*/

html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-size: 16px; text-align: left; color: #000}
div, ul, ol, li, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1200px; height: 100%; margin: 0 auto;}
.header {width: 100%; height: 200px; line-height: 200px; background: #6a6a6a;}
.logo {float: left;}
.logo > img{width: 250px; vertical-align: middle;}

.navs {float: right; width: 750px; height: 100%;}
.nav {width: 250px; float: left; }
.nav > div {/* padding:1rem; */ font-size: 1.3rem;}
.nav > div:hover {background: #eee}
.nav > ul {width: 250px; background-color: rgba(1, 1, 1, 0.2);  }
.nav > ul > li {font-weight: bold;}
.nav > ul > li:hover {background: #eee;}

.banner {width: 1200px; height: 700px;}
.banner > ul {width: 1000px; height: 350px; top:200px; left: 0; overflow: hidden; margin: 0 auto}
.banner > ul > li {position: absolute;}